#reviewBody {
  height: 100%;
  text-align: left;
}

#customerReviewPic {
  height: 60%;
  background-image: url("condors.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#customerReviewPic2 {
  height: 40%;
  background-image: url("e.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
