#reviewhtml {
  height: 100%;
  background-color: LightSkyBlue;
}

#reviewBody {
  height: 100%;
  text-align: left;
  background-image: url("falcon3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#moneyhtml {
  height: 100%;
  background-color: #85bb65;
}
/*
#customerReviewPic {
  height: 100%;
  background-image: url("condors.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}
*/
/*
#customerReviewPic2 {
  height: 100%;
  background-image: url("falcon3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
*/
